<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice">
  <test thread-count="5" name="Register">
    <classes>
      <class name="com.test.practice.RegisterProcess2"/>
      <class name="com.test.practice.RegisterProcess3"/>
      <class name="com.test.practice.RegisterProcess1"/>
    </classes>
  </test> <!-- Register -->
</suite> <!-- Practice -->
